<%- include('includes/head'); %>

    <link rel="stylesheet" href="../assets/css/styleAddTarefa.css">
</head>
<body>

    <nav>
        <a href="/cadastro">TaskFlow</a>
        <div class="float-rigth">
            <a href="/tarefa">Tarefas</a>
            <a href="/logout">Sair</a>
        </div>
        

        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 12h18M3 6h18M3 18h18"></path>
        </svg>           -->
    </nav>
    
    

    <main class="main">    
        <form class="tarefa" action="/adicionarTarefas/register" method="POST">
            <h1 class="titulo">Editar Tarefa</h1>

            <% if (success.length > 0) { %>
                <div class="row">
                    <div class="col my-3">
                        <div class="alert-success">
                            <% success.forEach(success => { %>
                                <%= success  %> <br>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <% } %>

            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
           <input type="hidden"  name="id" value="<%=user._id  %>">
             <div class="box"> 
                <input type="text" id="titulo" name="titulo" required autocomplete="off" placeholder="Titulo:" value="<%= tarefa.titulo  %>">
                <label id="labelTitulo" for="nome">Titulo:</label>
            </div>
            <div class="container">
                <% tarefa.tarefas.forEach((subtarefa, index) => { %>
                <div class="box"> 
                    <input type="text" id="tarefa" name="tarefa[<%= index %>].tarefa" required autocomplete="off" placeholder="Tarefa:" value="<%= subtarefa    .tarefa %>">
                    <label id="labelTitulo" for="nome">Tarefa:</label>
                </div>
                <% }) %>
            </div>
             
            <button type="button" id="addTarefaButton">+</button>
            <button type="submit" id="buttonSalvar">Editar</button>
        </form>
    </main>
    
    
    <script src="/tarefaAdd.js"></script>
    <!-- <script src="./assets/js/index.bundle.js"></script> -->
</body>
</html>