<%- include('includes/head'); %>

    <link rel="stylesheet" href="./assets/css/styleTarefa.css">
</head>
<body>

    <nav>
        <a href="/cadastro">TaskFlow</a>
        <a href="/logout">Sair</a>
        

        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 12h18M3 6h18M3 18h18"></path>
        </svg>           -->
    </nav>
    <div class="topo">
        <h2>Bem vindo, <%= user.nome  %></h2>
        <button type="button"> <a class="addTarefas" href="/adicionarTarefas">Adicionar Tarefa</a></button>
    </div>
    
    <main>
        <h1 class="titulo">Tarefas</h1>
        <div class="container">

            <% if(tarefas.length>0){ %>
                <% tarefas.forEach(tarefa => { %>
                <div class="card" tabindex="0">
                    <div class="card-inner">
                    <div class="card-front">
                        <h3> <%=tarefa.titulo %> </h3>
                    </div>
                    <div class="card-back">
                        <h3><%=tarefa.titulo %></h3>
                        <ul>
                            <% tarefa.tarefas.forEach(subtarefas => { %>
                            <li>
                            <input type="checkbox" <% if(subtarefas.concluida) { %>checked <% } %> id="item1">
                            <label for="item1"><%= subtarefas.tarefa  %></label>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    </div>
                </div>
                <% }) %>
            <% } else { %>
                <p>Você não possui nenhuma tarefa no momento!</p>
            <% } %>
        </div> 
        
    </main>
    
    
    <script src="/tarefa.js"></script>
    <!-- <script src="./assets/js/index.bundle.js"></script> -->
</body>
</html>