<%- include('includes/head'); %>

    <link rel="stylesheet" href="./assets/css/styleTarefa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>

    <nav>
        <a href="/cadastro">TaskFlow</a>
        <a href="/logout">Sair</a>
        

        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 12h18M3 6h18M3 18h18"></path>
        </svg>           -->
    </nav>
    <div class="topo">
        <h2>Bem vindo, <%= user.nome  %></h2>
        <button type="button"> <a class="addTarefas" href="/adicionarTarefas">Adicionar Tarefa</a></button>
    </div>
    
    <main>
        <h1 class="titulo">Tarefas</h1>
        <div class="container">

            <% if(tarefas.length>0){ %>
                <% tarefas.forEach(tarefa => { %>
                <div class="card" tabindex="0">
                    <div class="card-inner">
                    <div class="card-front">
                        <h3> <%=tarefa.titulo %> </h3>
                        
                    </div>
                    <div class="card-back">
                        <div class="title-back">
                            <h3><%=tarefa.titulo %>:</h3>
                            <div class="icones">
                                <a href="/indexEditar/<%= tarefa._id  %>"><i class="fas fa-edit"></i></a>
                                <a href="/tarefa/delete/<%= tarefa._id  %>" class="deleteTarefaTotal"><i class="fas fa-trash"></i></a>
                            </div>
                            
                        </div>
                        
                        <ul>
                            <form action="/tarefa/editar-checkbox/<%= tarefa._id %>" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <% tarefa.tarefas.forEach((subtarefas, index) => { %>
                                <li>
                                    <input type="hidden" name="id">
                                    <input class="checkbox" type="checkbox" <% if(subtarefas.concluida) { %>checked disabled<% } %> id="item<%= index %>" data-id="<%= subtarefas._id %>" name="tarefa[<%= index %>].concluida" value="<%= subtarefas._id %>">
                                    <label for="item<%= index %>"><%= subtarefas.tarefa %></label>
                                    <a href="/tarefa/deleteSubTask/<%= subtarefas._id %>"><i class="fas fa-trash"></i></a>
                                </li>
                              <% }) %> 
                              <button  class="btn-salvar" type="submit" style="display: none;">Salvar</button>
                            </form>
                        </ul>
                    </div>
                    </div>
                </div>
                <% }) %>
            <% } else { %>
                <div class="paragrafo">
                    <p>Você não possui nenhuma tarefa no momento!</p>
                </div>
                
            <% } %>
            <div class="msgConfirmDelete">
                <p id="alertText">Tem certeza que deseja deletar a tarefa toda?</p>
                <div class="buttonContainer">
                    <button class="alertBtn confirmDeleteBtn" type="button">Deletar</button>
                    <button class="alertBtn cancelDeleteBtn" type="button">Manter</button>
                </div>
                
            </div>
        </div> 
        
    </main>
    
    
    <script src="/tarefa.js"></script>
    <!-- <script src="./assets/js/index.bundle.js"></script> -->
</body>
</html>